<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :sigla %>
    <%= f.text_field :sigla %>
  </div>

  <div class="field">
    <%= f.label :instituicao %>
    <%= f.text_field :instituicao %>
  </div>
  
  <br>

  <%= f.submit 'Submit ', :class => 'btn btn-success btn-sm', style: 'color: black' %> 
  <%= link_to 'Back', teams_path, class: "btn btn-warning btn-sm", style: 'color: black' %>
  
<% end %>
