<h1>Team: <%= @team.nome %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @team.id %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @team.sigla %>
</p>

<p>
  <strong>Instituicao:</strong>
  <%= @team.instituicao %>
</p>

<%= link_to 'Edit', edit_team_path(@team), class: "btn btn-sm btn-warning" %> |
<%= link_to 'Teams', teams_path, class: "btn btn-sm btn-warning" %> |
<%= link_to 'New Team', new_team_path, class: "btn btn-sm btn-warning" %> |
<%= link_to 'Back', :back, class: "btn btn-sm btn-warning" %>

<br><br><br>



<table class="table table-dark table-striped table-hover table-sm">
  
  <caption><h2><%= @team.nome %> Players</h2></caption>
  
  <% if @team.players.size > 0 %>
  
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome Completo</th>
        <th>Nickname</th>
        <th>Idade</th>
        <th>Roles</th>
        <th>Elo</th>
        <th>Comandos</th>
      </tr>
    </thead>
  
    <tbody>
      <% @team.players.each do |player| %>
        <tr>
          <td><%= player.id %></td>
          <td><%= player.nome %> <%= player.sobrenome %></td>
          <td><%= player.nickname %></td>
          <td><%= age player.datanasc %></td>
          <td>
            <% i = 0 %>
            <% @playerroles.each do |playerrole| %>
              <% if playerrole.player_id == player.id %>
                <% if i > 0 %> / <% end %>
                <%= playerrole.role.role %>
                <% i=i+1 %>
              <% end %>
            <% end %>
          </td>
          <td><%= player.elo %> <%= player.divisao %></td>
          <td><%= link_to 'Show', player %></td>
        </tr>
      <% end %>
    </tbody>
    
  <% end %>
    
  <% if @team.players.size <= 0 %>
  
    <thead>
      <tr>
        <th>O time ainda não possui nenhum Player</th>
      </tr>
    </thead>
  
  <% end %>
  
</table>