<h1>Players</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'New Player', new_player_path, class: "btn btn-primary btn-sm", style: 'color: black' %> 
<%= link_to 'Back', :back, class: "btn btn-secondary btn-sm", style: 'color: black' %>

<br><br>

<table class="table table-dark table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>N°</th>
      <th>ID</th>
      <th>Nome</th>
      <th>Nickname</th>
      <th>Sobrenome</th>
      <th>Idade</th>
      <th>Roles</th>
      <th>Elo</th>
      <th>Team</th>
      <!--<th>Datetime</th>-->
      <th colspan="3">Comandos</th>
    </tr>
  </thead>

  <tbody>
    <% j=0 %>
    <% @players.each do |player| %>
      <% j=j+1 %>
      <tr>
        <td><%= j %></td>
        <td><%= player.id %></td>
        <td><%= player.nome %></td>
        <td><%= player.nickname %></td>
        <td><%= player.sobrenome %></td>
        <td><%= age player.datanasc %></td>
        
        <td>
          
          <% i = 0 %>
          
          <% @playerroles.each do |playerrole| %>
          
            <% if playerrole.player_id == player.id %>
            
              <% if i > 0 %> / <% end %>
              
              <%= playerrole.role.role %>
              
              <% i=i+1 %>
            
            <% end %>
            
          <% end %>
          
        </td>
        
        <td><%= player.elo %> <%= player.divisao %></td>
        <td><%= link_to player.team.nome, player.team %></td>
        <!--<td><%#= player.created_at.in_time_zone('Brasilia') %></td>-->
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
