<p id="notice"><%= notice %></p>

<h1>Player: <%= @player.nome %> "<%= @player.nickname %>" <%= @player.sobrenome %></h1>

<p>
  <strong>Nome completo:</strong>
  <%= @player.nome %> <%= @player.sobrenome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= ((Time.zone.now - @player.datanasc.to_time) / 1.year.seconds).floor %>
</p>

<p>
  <strong>Data Nascimento:</strong>
  <%= comma @player.datanasc %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @player.nickname %>
</p>

<p>
  <strong>Roles:</strong>
  <% i=0 %>
  <% @player.roles.each do |role| %>
    <% if i>0 %> / <% end %>
    <%= role.role %>
    <% i=i+1 %>
  <% end %>
  (<%= link_to 'Add Roles', playerroles_path %>)
</p>

<p>
  <strong>Elo:</strong>
  <%= @player.elo %> <%= @player.divisao %>
</p>

<p>
  <strong>Team:</strong>
  <%= link_to @player.team.nome, @player.team %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Players', players_path %> |
<%= link_to 'Back', :back %> |
<%= link_to 'New Player', new_player_path %>